$backgroundPrimary: #fff;
$backgroundSecondary: #f3f6f8;
$backgroundButton: #fff;

$textPrimary: rgb(55, 71, 79);
$textButton: rgb(119, 119, 119);
$textGreen: rgb(67, 196, 235);
$textSelected: #5640ff;

$borderColor: #e4e8f0;
