$backgroundPrimary: #fff;
$backgroundSecondary: #f3f6f8;
$backgroundButton: #fff;

$textPrimary: rgb(55, 71, 79);
$textButton: rgb(119, 119, 119);
$textGreen: rgb(30, 198, 108);

$borderColor: #E4E8F0;
