@import "./../../../styles/colors";

form {
  min-height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $backgroundPrimary;
}

.add-timer-form-stack {
  max-width: 36rem;
  margin-left: auto;
  margin-right: auto;
}

.add-timer-button {
  margin-right: 2rem;
}
