@import "../../../styles/colors";

.timer {
  margin: 0.5rem;
  background: white;
  font-size: 1.4rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
  max-width: 28rem;
  margin-left: auto;
  margin-right: auto;
  color: $textPrimary;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 5px 0 rgba(0, 0, 0, 0.04);
  border: none;

  .btn {
    border: none;
    color: $textButton;
  }

  .timer-time {
    color: $textSecondary;
  }

  .row {
    align-items: center;
  }
}
